<!--슬리이더 영역-->
<div class="fun-slider">
    <div class="slider-menu-box">
        <ul class="slider-menu-ul">
            <li>
                <P class="txt-num">1</P>
                <p class="txt-name">월미놀이공원</p>
            </li>
        </ul>
    </div>
    <div class="slider-view-box">
        <button class="btn-view-left btn-view-arrow" type="button"><img src="http://img.hotelairsky.co.kr/svc/img/landing/wolmido/fun/slider_left.png" alt="슬라이더_왼쪽"></button>
        <div class="view-contents">
            <ul class="view-ul">
                <li>
                    <div class="view-img-box">
                        <img src="http://img.hotelairsky.co.kr/svc/img/landing/wolmido/fun/fun_img01.jpg" alt="뷰이미지">
                    </div>
                    <div class="view-txt-box">
                        <p class="txt-intro">
                            월미도에는 월미테마카프, 마이랜드 두개의 놀이공원이있습니다.  자연풍광이 뛰어난 월미도 놀이공원은 신나는 음악과 다양한 놀이기구들로 남녀노소 누구나 재미나게 즐길 수있는 문화공간입니다.  
                        </p> 
                        <div class="txt-info">
                            ㆍ
                            <span class="span-bold">ㆍ운영시간:</span> 평일 10:00~22:00 / 주말: 10:00~23:00(업체별 운영시간 다름)<br>
                            ㆍ이용금액: 대인 4,500원~/ 소인 3,500원~(자유이용권 별도)
                        </div>
                    </div>
                </li>
            </ul>
            
        </div>
        <button class="btn-view-right btn-view-arrow" type="button"><img src="http://img.hotelairsky.co.kr/svc/img/landing/wolmido/fun/slider_right.png" alt="슬라이더_오른쪽"></button>
    </div>
</div>
