<div class="popup-event02">
    <div class="popup-box">
        <a class="pop-url-pc" target="_blank" href="https://tour.wd.wemakeprice.com/khotel/detail/vendors?hotelId=2298625">
            <img src="http://img.hotelairsky.co.kr/svc/img/event/20201030_wemake.jpg" alt="이미지">
        </a>
        <a class="pop-url-mobile" target="_blank" href="https://mtour.wd.wemakeprice.com/khotel/detail/vendors?hotelId=2298625">
            <img src="http://img.hotelairsky.co.kr/svc/img/event/20201030_wemake.jpg" alt="이미지">
        </a>
    </div>
    <div class="btn-pop-close-box">
        <button class="btn-pop-close" type="button">X</button>
    </div>
</div>
<script>
    //닫기버튼(이벤트2)
    $(".btn-pop-close").on('click', function(){
        $(".popup-event02").css("display","none");
    });
</script>