<div class="sub_top_menu">
    <h4 class="page_title">@@title</h4>
    <h6 class="page_sub_title">@@sub_title</h6>
    <!-- menu_item 해당 페이지 active 클래스 추가 -->
    <ul class="menu_wrap container">
        <li class="menu_item"><a href="std_db.html">슈페리어</a></li>
        <li class="menu_item"><a href="std_tw.html">스탠다드 트윈</a></li>
        <li class="menu_item"><a href="std_db2.html">스탠다드 더블</a></li>
        <li class="menu_item"><a href="dx_oc_tw.html">디럭스 트윈</a></li>
        <li class="menu_item"><a href="dx_oc_db.html">디럭스 더블</a></li>
        <li class="menu_item"><a href="dx_oc_ondol.html">디럭스 한실</a></li>
        
        
    </ul>
    <ul class="menu_wrap container">
        <li class="menu_item"><a href="pr_oc_tw.html">프리미어 트윈</a></li>
        <li class="menu_item"><a href="pr_oc_db.html">프리미어 더블</a></li>
        <li class="menu_item"><a href="pr_oc_ondol.html">프리미어 온돌</a></li>
        <li class="menu_item"><a href="pr_oc_famtw.html">프리미어 패밀리 트원</a></li>
        <li class="menu_item"><a href="suite.html">로얄 스위트</a></li>
    </ul>
</div>