@@include('src/template/include/_head.html')

<!-- <link rel="stylesheet" href="/static/svc/css/landing/land_wolmido.css"> -->
<link rel="stylesheet" href="http://static.hotelairsky.co.kr/svc/css/landing/land_wolmido.css">

</head>

<body>
    @@include('src/template/include/_header.html')
    
    <div class="wolmido-wrapper">
        <!-- <img src="http://design.ebiznetworks.co.kr/pcs/wolmido.jpg" alt="임시"> -->
        <section class="wolmido-intro">
            <div class="intro-title">
                <img src="http://img.hotelairsky.co.kr/svc/img/landing/wolmido/intro/intro_title.png" alt="제목">
            </div>
        </section>

        <section class="wolmido-fun">
            <div class="fun-bg-top"></div>
            <div class="fun-wrap">
                <div class="fun-contents wolmido-contents">
                    <nav class="wolmido-menu-box">
                        <ul class="menu-ul">
                            <li><a href="#none"><img src="http://img.hotelairsky.co.kr/svc/img/landing/wolmido/common/menu01_on.png" alt="메뉴01"></a></li>
                            <li><a href="#none"><img src="http://img.hotelairsky.co.kr/svc/img/landing/wolmido/common/menu02_off.png" alt="메뉴02"></a></li>
                            <li><a href="#none"><img src="http://img.hotelairsky.co.kr/svc/img/landing/wolmido/common/menu03_off.png" alt="메뉴03"></a></li>
                        </ul>
                    </nav>
                    <div class="fun-title">
                        <img src="http://img.hotelairsky.co.kr/svc/img/landing/wolmido/fun/fun_title.png" alt="제목">
                    </div>

                    @@include('src/template/landing/_wolmido/_wolmido_fun_slide.html')

                    <p class="notice-fun">
                        ※ 관광지별 운영시간이 달라질 수 있으므로 관광지 홈페이지, 연락처에 문의해주세요.
                    </p>  
                </div>
            </div>
            <div class="fun-bg-bottom"></div>
        </section>
        
        <section class="wolmido-map">
            
                <!-- <img src="http://img.hotelairsky.co.kr/svc/img/landing/wolmido/map/map.jpg" alt="맵"> -->
            
        </section>
        
        <section class="wolmido-guide">
            <div class="guide-bg-top"></div>
            <div class="guide-wrap">
                <div class="guide-contents wolmido-contents">
                    <nav class="wolmido-menu-box">
                        <ul class="menu-ul">
                            <li><a href="#none"><img src="http://img.hotelairsky.co.kr/svc/img/landing/wolmido/common/menu01_off.png" alt="메뉴01"></a></li>
                            <li><a href="#none"><img src="http://img.hotelairsky.co.kr/svc/img/landing/wolmido/common/menu02_on.png" alt="메뉴02"></a></li>
                            <li><a href="#none"><img src="http://img.hotelairsky.co.kr/svc/img/landing/wolmido/common/menu03_off.png" alt="메뉴03"></a></li>
                        </ul>
                    </nav>
                    <div class="guide-title">
                        
                        <img src="http://img.hotelairsky.co.kr/svc/img/landing/wolmido/guide/guide_title.png" alt="제목">
                    </div>
                    <div class="guide-main">
                        <div class="table-price"><img src="http://img.hotelairsky.co.kr/svc/img/landing/wolmido/guide/guide_table_price.png" alt="표_요금"></div>
                        
                        <div class="table-schedule"><img src="http://img.hotelairsky.co.kr/svc/img/landing/wolmido/guide/guide_table_schedule.png" alt="표_일정">
                            <p class="notice-schedule">※ 공휴일이나, 선박사정, 기상, 계절에 따라 운항시간이 변경될 수 있습니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="wolmido-booking">
            <div class="booking-wrap">
                <div class="booking-contents wolmido-contents">
                    <nav class="wolmido-menu-box">
                        <ul class="menu-ul">
                            <li><a href="#none"><img src="http://img.hotelairsky.co.kr/svc/img/landing/wolmido/common/menu01_off.png" alt="메뉴01"></a></li>
                            <li><a href="#none"><img src="http://img.hotelairsky.co.kr/svc/img/landing/wolmido/common/menu02_off.png" alt="메뉴02"></a></li>
                            <li><a href="#none"><img src="http://img.hotelairsky.co.kr/svc/img/landing/wolmido/common/menu03_on.png" alt="메뉴03"></a></li>
                        </ul>
                    </nav>
                    <div class="booking-intro">
                        <div class="intro-img-box">
                            <img src="http://img.hotelairsky.co.kr/svc/img/landing/wolmido/booking/booking_intro_txt.png" alt="인트로이미지">
                        </div>
                    </div>
                    <div class="booking-main">
                        <div class="main-top">
                            <img src="http://img.hotelairsky.co.kr/svc/img/landing/wolmido/booking/booking_img_main01.png" alt="메인이미지01"></div>
                        
                        <div class="main-contents">
                            <div class="img-box">
                                <img src="http://img.hotelairsky.co.kr/svc/img/landing/wolmido/booking/booking_img_main02.png" alt="메인이미지01">
                            </div>
                    
                            <a class="go-booking" href="#none">
                                <img src="http://img.hotelairsky.co.kr/svc/img/landing/wolmido/booking/booking_main_info.png" alt="메인이미지02">
                            </a>
                        </div>
                    </div>
                    
                    <div class="booking-sub">
                        <ul class="sub-ul">
                            <li>
                                <img src="http://img.hotelairsky.co.kr/svc/img/about/about_02.jpg">
                                <div class="txt-box">
                                    <p class="txt-title">AIRSKY HOTEL</p>
                                    <p class="txt-contents">
                                        에어스카이호텔은 총 475개의 객실을 보유하고 있으며 스탠다드룸, 디럭스룸, 프리미어룸 그리고 스위트룸 등으로 구성되어 있습니다.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <img src="http://img.hotelairsky.co.kr/svc/img/about/about_03.jpg">
                                <div class="txt-box">
                                    <p class="txt-title">FACILTIES</p>
                                    <p class="txt-contents">
                                        미팅, 회의, 세미나, 가족행사까지 가능한 연회장과 비즈니스코너, 그리고 여행의 피로를 풀어줄 레스토랑, 편의점, 카페테리아 등이 구비되어 있습니다.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <img src="http://img.hotelairsky.co.kr/svc/img/about/about_04.jpg">
                                <div class="txt-box">
                                    <p class="txt-title">OCEAN VIEW</p>
                                    <p class="txt-contents">
                                        전 객실의 조망이 오션뷰입니다. 서해에서 즐기는 일출, 싱그러움 가득한 초록빛 공원, 파란 인천 바다가 맞닿은 곳에 에어스카이호텔이 있습니다.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!--스크립트 부분-->
    @@include('src/template/landing/_wolmido/_wolmido_script.html')
    <script>
        //3종 메뉴
        $(document).ready(function(){
            $(".wolmido-menu-box .menu-ul li a").on('click',function(e){
                e.preventDefault();
                let clickIndex = $(this).parent().index();
                console.log(clickIndex);
                // $(window).scrollTop($(movePos).offset().top);
                let className = [".wolmido-fun", ".wolmido-guide", ".wolmido-booking"];
                let movePos = $(className[clickIndex]).offset().top - 80;
                $(window).scrollTop(movePos);
            })
        });
    </script>

    @@include('src/template/include/_footer.html')    
</body>

</html>


