[
    {
        "name":"월미놀이공원",
        "imgPath":"fun_img01.jpg",
        "text":{
            "intro":
                "월미도에는 월미테마카프, 마이랜드 두개의 .  자연풍광이 뛰어난 월미도 놀이공원은 신나는 음악과 다양한 놀이기구들로 남녀노소 누구나 재미나게 즐길 수있는 문화공간입니다.",
            "info":
                "ㆍ운영시간: 평일 10:00~22:00 / 주말: 10:00~23:00(업체별 운영시간 다름)<br>ㆍ이용금액: 대인 4,500원~/ 소인 3,500원~(자유이용권 별도)"
        }
    },
    {
        "name":"월미문화거리",
        "imgPath":"fun_img02.jpg",
        "text":{
            "intro":
                "바다가 바라다 보이는 횟집과 카페로 이루어진 총 600m에 달하는 해변 산책로로 월미도의 푸른 바다를 배경으로 다채로운 문화행사와 월미문화축제가 펼쳐진다.",
            "info":
                "ㆍ운영시간: 해수족탕: 10:00~20:00(매주 월요일 휴무)<br>ㆍ문의: 032)765-4169"
        }

    },
    {
        "name":"월미유람선",
        "imgPath":"fun_img03.jpg",
        "text":{
            "intro":
                "월미도를 출발하여 작약도, 영종대교, 아래뱃길가문, 청라국제도시 등을 경유하며 관광객에게 다양한 볼거기를 제공한다, 야경을 감상하며 낭만적인 가족 모임 및 단체행사가 가능하다.",
            "info":
                "ㆍ운항시간: 첫배 11:00(1시간 20분 운행)<br>ㆍ운항요금: 대인 16,000원 / 소인 10,000원<br>ㆍ문의: 032)765-1171(신분증 필수 지참)"
        }
    },
    {
        "name":"구읍뱃터",
        "imgPath":"fun_img04.jpg",
        "text":{
            "intro":
                "구읍뱃터를 이용하면 영종도와 월미도를 15분내 빠르게 오고갈 수 있는 운송수단입니다. <br> 차량 운송도 가능하여 차량으로 여행하는 분들도 편리하게 이용하실 수 있습니다. <br>배 운항가격은 30분 간격으로 운항하고 있습니다.",
            "info":
                "000원<br>ㆍ문의: 032)765-1171(신분증 필수 지참)"
        }
    },
    {
        "name":"한국이민사 박물관",
        "imgPath":"fun_img05.jpg",
        "text":{
            "intro":
                "2003년 미주 이민 100주년을 맞아 우리 선조들의 해외에서의 개척자적인 삶을 기리고 그 발자취를 후손들에게 전하기 위해 인천 시민들과 해외 동포들이 뜻을 모아 건립한 우리나라 최초의 이민사박물관이다.",
            "info":
                "ㆍ운항시간: 첫배 11:00(1시간 20분 운행)<br>ㆍ운항요금: 대인 16,000원 / 소인 10,000원<br>ㆍ문의: 032)765-1171(신분증 필수 지참)"
        }
    },
    {
        "name":"인천항갑문",
        "imgPath":"fun_img06.jpg",
        "text":{
            "intro":
                "최대 10m에 이르는 조수 간만의 차이를 극복하고 자유롭게 배가 드나들 수 있도록 조성한 우리나라 최초의 수문식 도크(DOCK)이다.",
            "info":
                "ㆍ운항시간: 첫배 11:00(1시간 20분 운행)<br>ㆍ운항요금: 대인 16,000원 / 소인 10,000원<br>ㆍ문의: 032)765-1171(신분증 필수 지참)"
        }
    },
    {
        "name":"한국전통공원",
        "imgPath":"fun_img07.jpg",
        "text":{
            "intro":
                "월미공원에 위치한 한국전통공원은 조선시대의 궁궐정원 및 별서정원, 민가정원을 재현하였다, 궁궐정원으로는 부용지, 애련지, 화계 및 아미산굴뚝을, 별서정원으로는 소쇄원, 국담원, 서석지를 민가정원으로는 양진당, 전통민가 등을 재현하였다.",
            "info":
                "ㆍ운영시간: 하절기 09:00~20:00 / 동절기 09:00~19:00(양진당 내부관람: 하절기 09:00~18:00 / 정절기 09:00~17:00)<br>ㆍ문의: 032)765-4133"
        }
    },
    {
        "name":"월미공원 전망대",
        "imgPath":"fun_img08.jpg",
        "text":{
            "intro":
                "월미공원 정상에 위치한 23m의 전망대로, 인천시가지는 물론 서해바다와 인천항, 서해안 낙조, 인천국제공항, 인천대교 등을 한눈에 조망할 수 있으며. 마페테리아와, 북카페, 메시지블럭 공간도 마련되어 있다.",
            "info":
                "ㆍ운영시간: 전망대 07:00~22:00 / 카페 월미달빛마루: 11:00~19:00(동절기 시간변경 가능)<br>ㆍ문의: 전망대 032)765-4133 / 카페 월미달빛마루 032)765-0727<br>ㆍ★월미공원 안내소 앞에서 물범카 탁승시 15분 소요(산책로 보도 25분 소요)"
        }
    },
    {
        "name":"인천상륙지점 표지석",
        "imgPath":"fun_img09.jpg",
        "text":{
            "intro":
                "1950년 9월 15일 국군과 유엔군이 6.25전쟁의 전세를 역전시키는 역사적인 인천상륙작전을 실시하였다. 오전 6시 33분 월미도 녹색해안으로 최초의 상륙이 성곡하였으며, 오후 5시 33분 북성포구 적색해안으로 추가 상륙이 이류어졌다.",
            "info":
                "ㆍ문의: 032)834-9411 / 032)760-6473"
        }
    }
       
]
