
<section class="tourist-sec program-sec">
    <ul class="intro-ul">
        <li class="park-guide">
            <div class="img-box">
                <img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/intro_park.jpg" alt="이미지">
            </div>
            <div class="txt-contents">
                <div class="title-box">
                    <p class="p-sub"><span class="span-hot">HOT</span> 호텔 바로 앞에 위치한 자연숲 친화 공원!</p>
                    <p class="p-title">씨사이드파크 영종진공원을 꼭 방문해주세요.</p>
                </div>
                <div class="txt-box">
                    <p>- 우리호텔에서 도보 1분거리</p>
                    <p>- 자연 공원 산책, 가족과 연인이 함께 즐길 수 있는 자연 에코숲</p>
                    <p>- 녹색공간을 통해 마음의 휴식을, 아이들에겐 자연 놀이터의 기쁨을</p>
                    <P>- 가슴트이는 바다 전망과 자연숲을 동시에 만나는 힐링루트입니다.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="park-map-area">
        <img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/map_park.jpg" alt="이미지">
    </div>
    <div class="park-list-area">
        <h4 class="title">④숲체험장</h4>
        <ul class="park-list-ul">
            <li>
               <div class="img-box"><img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/park01_01.jpg" alt="이미지"> </div>
               <div class="txt-box"><p class="">숲속 교실</p></div>
            </li>
            <li>
                <div class="img-box"><img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/park01_02.jpg" alt="이미지"></div>
                <div class="txt-box"><p class="">숲속 교실</p></div>
             </li>
             <li>
                <div class="img-box"><img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/park01_03.jpg" alt="이미지"></div>
                <div class="txt-box"><p class="">숲속 교실</p></div>
             </li>
             <li>
                <div class="img-box"><img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/park01_04.jpg" alt="이미지"></div>
                <div class="txt-box"><p class="">숲속 교실</p></div>
             </li>
             <li>
                <div class="img-box"><img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/park01_05.jpg" alt="이미지"></div>
                <div class="txt-box"><p class="">숲속 교실</p></div>
             </li>
             <li>
                <div class="img-box"><img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/park01_06.jpg" alt="이미지"></div>
                <div class="txt-box"><p class="">숲속 교실</p></div>
             </li>
             <li>
                <div class="img-box"><img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/park01_07.jpg" alt="이미지"></div>
                <div class="txt-box"><p class="">숲속 교실</p></div>
             </li>
             <li>
                <div class="img-box"><img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/park01_08.jpg" alt="이미지"></div>
                <div class="txt-box"><p class="">숲속 교실</p></div>
             </li>
        </ul>
    </div>
    
</section>
