@@include('src/template/include/_head.html')

<link rel="stylesheet" type="text/css" href="/static/svc/css/tourist/init.css">
<!-- 
<link rel="stylesheet" type="text/css" href="http://static.hotelairsky.co.kr/svc/css/tourist/init.css"> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">

</head>

<body class="">

    @@include('src/template/include/_header.html')

    <div class="contents group-contents">
        <div class="sub">
            <div class="sub_top_menu">
                <h4 class="page_title">주변관광지 안내</h4>
                <h6 class="page_sub_title">더욱 알찬 여행을 즐기는 방법! 추천 주변 관광지를 소개합니다.</h6>
            </div>
        </div>

        <div class="sub group_box container">
            <div class="sub_item_box">
                <div class="sub_item_wrap">
                    <div class="sub_item">
                        <section class="tourist-sec program-sec">
                            <div class="ferry-guide">
                                <div class="ferry-img-box">
                                    <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/map_ferry.jpg" alt="">
                                </div>
                                <div class="ferry-contents">
                                    <div class="feerry-title-box">
                                        <p class="p-sub"><span class="span-hot">HOT</span> 호텔 앞에서 월미도 핫플레이스까지 뱃길 15분!</p>
                                        <p class="p-title">월미도(월미선착장) ↔ 영종도(구읍배터) 여객선 이용안내</p>
                                    </div>
                                    <div class="ferry-txt-box">
                                        <p>- 우리호텔에서 구읍배터(여객선 탑승장)까지 도보 3분거리</p>
                                            <p>- 매일 07시30분 부터 1시간마다 운행 (18시경 마지막 운항)</p>
                                            <p>- 차량선적가능 (별도요금) / 도서민 할인</p>
                                            <P>- 대인 3,500원 / 학생 1,500원 (중고생) / 소인 1,000원 (초등생)</p>
                                    </div>
                                </div>
                            </div>
                            <h3 class="h3-1">자연관광지</h3>
                            <ul class="ul-list ">
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/nature_01.jpg" alt="주변관광지사진">
                                        <figcaption>마시안해변<br><span class="f-sm">차량 20분<span > 소요 (15km 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/nature_02.jpg" alt="주변관광지사진">
                                        <figcaption>무의도<br><span class="f-sm">차량 25분<span > 소요 (17km 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/nature_03.jpg" alt="주변관광지사진">
                                        <figcaption>왕상해수욕장<br><span class="f-sm">차량 26분<span > 소요 (18km 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/nature_04.jpg" alt="주변관광지사진">
                                        <figcaption>을왕리해수욕장<br><span class="f-sm">차량 26분<span > 소요 (18km 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/soreport.jpg" alt="주변관광지사진">
                                        <figcaption>소래포구<br><span class="f-sm">차량 40분<span > 소요 (18km 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/manisan.jpg" alt="주변관광지사진">
                                        <figcaption>마니산<br><span class="f-sm">차량 60분<span > 소요 (18km 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/cave.jpg" alt="주변관광지사진">
                                        <figcaption>강화 고인돌<br><span class="f-sm">차량 60분<span > 소요 (34km 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/combat.jpg" alt="주변관광지사진">
                                        <figcaption>강화 광성보<br><span class="f-sm">차량 45분<span > 소요 (19km 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                            </ul>
                            <h3 class="h3-2">액티비티 관광지</h3>
                            <ul class="ul-list">
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/activities_01.jpg" alt="주변관광지사진">
                                        <figcaption>팔미도유람선<br><span class="f-sm">차량 40분<span > 소요 (53km 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/activities_02.jpg" alt="주변관광지사진">
                                        <figcaption>영종레일바이크<br><span class="f-sm">도보 4분<span > 소요 (400m 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/activities_03.jpg" alt="주변관광지사진">
                                        <figcaption>월미테마파크<br><span class="f-sm">뱃길 20분<span > 소요 (2.5km 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/activities_04.jpg" alt="주변관광지사진">
                                        <figcaption>BMW드라이빙센터<br><span class="f-sm">차량 15분<span > 소요 (11km 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/walmiboat.jpg" alt="주변관광지사진">
                                        <figcaption>월미도유람선<br><span class="f-sm">도보 2분<span > 소요 (200m 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/grandpark.jpg" alt="주변관광지사진">
                                        <figcaption>인천대공원<br><span class="f-sm">차량 35분<span > 소요 (16km 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/luge.jpg" alt="주변관광지사진">
                                        <figcaption>씨사이드루지<br><span class="f-sm">차량 45분<span > 소요 (15km 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/seatrain.jpg" alt="주변관광지사진">
                                        <figcaption>월미바다열차<br><span class="f-sm">뱃킬 25분<span > 소요 (4km 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                            </ul>
                            <h3 class="h3-2">시설 관광지</h3>
                            <ul class="ul-list">
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/facil_01.jpg" alt="주변관광지사진">
                                        <figcaption>영종역사관<br><span class="f-sm">도보 4분<span > 소요 (350m 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/facil_02.jpg" alt="주변관광지사진">
                                        <figcaption>인천대교기념관<br><span class="f-sm">차량 15분<span > 소요 (6km 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/facil_03.jpg" alt="주변관광지사진">
                                        <figcaption>씨사이드파크<br><span class="f-sm">도보 4분<span > 소요 (350m 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/facil_04.jpg" alt="주변관광지사진">
                                        <figcaption>스카이72<br><span class="f-sm">차량 22분<span > 소요 (9km 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/artcenter.jpg" alt="주변관광지사진">
                                        <figcaption>아트센터 인천<br><span class="f-sm">차량 40분<span > 소요 (11km 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/convensia.jpg" alt="주변관광지사진">
                                        <figcaption>송도 컨벤시아<br><span class="f-sm">차량 23분<span > 소요 (13km 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/paradise.jpg" alt="주변관광지사진">
                                        <figcaption>파라다이스 시티<br><span class="f-sm">차량 18분<span > 소요 (11km 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/triplestreet.jpg" alt="주변관광지사진">
                                        <figcaption>트리플스트리트<br><span class="f-sm">차량 25분<span > 소요 (14km 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                            </ul>
                            <h3 class="h3-2">기타 관광지</h3>
                            <ul class="ul-list">
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/etc_01.jpg" alt="주변관광지사진">
                                        <figcaption>영종도 하늘공원<br><span class="f-sm">차량 16분<span > 소요 (14km 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/etc_02.jpg" alt="주변관광지사진">
                                        <figcaption>용궁사<br><span class="f-sm">차량 12분<span > 소요 (4.5km 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item ">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/etc_03.jpg" alt="주변관광지사진">
                                        <figcaption>구읍뱃터<br><span class="f-sm">도보 2분<span > 소요 (200m 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item nth-m2">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/etc_04.jpg" alt="주변관광지사진">
                                        <figcaption>차이나타운<br><span class="f-sm">차량 40분<span > 소요 (33km 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item nth-m2">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/gtower.jpg" alt="주변관광지사진">
                                        <figcaption>G타워 전망대<br><span class="f-sm">차량 25분<span > 소요 (11km 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item nth-m2">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/kayak.jpg" alt="주변관광지사진">
                                        <figcaption>센트럴파크 카약<br><span class="f-sm">차량 20분<span > 소요 (12km 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item nth-m2">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/sokmospa.jpg" alt="주변관광지사진">
                                        <figcaption>석모도 미네랄온천<br><span class="f-sm">차량 80분<span > 소요 (30km 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                                <li class="li-item nth-m2">
                                    <figure>
                                        <span class="s-bg"></span>
                                        <img src="http://img.hotelairsky.co.kr/svc/img/group/tour/icelink.jpg" alt="주변관광지사진">
                                        <figcaption>선학 국제빙상경기장<br><span class="f-sm">차량 35분<span > 소요 (13km 거리)</span></span></figcaption>
                                    </figure>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="cf"></div>
    </div>

    @@include('src/template/include/_footer.html')
</body>

</html>