
<section class="tourist-sec program-sec">
    <ul class="intro-ul">
        <li class="park-guide">
            <div class="img-box">
                <img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/intro_park.jpg" alt="이미지">
            </div>
            <div class="txt-contents">
                <div class="title-box">
                    <p class="p-sub"><span class="span-hot">HOT</span> 호텔 바로 앞에 위치한 자연숲 친화 공원!</p>
                    <p class="p-title">씨사이드파크 영종진공원을 꼭 방문해주세요.</p>
                </div>
                <div class="txt-box">
                    <p>- 우리호텔에서 도보 1분거리</p>
                    <p>- 자연 공원 산책, 가족과 연인이 함께 즐길 수 있는 자연 에코숲</p>
                    <p>- 녹색공간을 통해 마음의 휴식을, 아이들에겐 자연 놀이터의 기쁨을</p>
                    <P>- 가슴트이는 바다 전망과 자연숲을 동시에 만나는 힐링루트입니다.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="park-map-area">
        <img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/map_park.jpg" alt="이미지">
    </div>
    
    <div class="park-list-area">
        <h4 class="park-title">④숲체험장</h4>
        <ul class="park-list-ul">
            <li>
               <div class="img-box"><img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/park01_01.jpg" alt="이미지"> </div>
               <div class="txt-box"><p class="p-name">숲속 교실</p></div>
            </li>
            <li>
                <div class="img-box"><img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/park01_02.jpg" alt="이미지"></div>
                <div class="txt-box"><p class="p-name">놀이터(조합놀이대, 모래)</p></div>
             </li>
             <li>
                <div class="img-box"><img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/park01_03.jpg" alt="이미지"></div>
                <div class="txt-box"><p class="p-name">모험놀이</p></div>
             </li>
             <li>
                <div class="img-box"><img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/park01_04.jpg" alt="이미지"></div>
                <div class="txt-box"><p class="p-name">산책로</p></div>
             </li>
             <li>
                <div class="img-box"><img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/park01_05.jpg" alt="이미지"></div>
                <div class="txt-box"><p class="p-name">흔들의자</p></div>
             </li>
             <li>
                <div class="img-box"><img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/park01_06.jpg" alt="이미지"></div>
                <div class="txt-box"><p class="p-name">숲해먹쉼터</p></div>
             </li>
             <li>
                <div class="img-box"><img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/park01_07.jpg" alt="이미지"></div>
                <div class="txt-box"><p class="p-name">오두막집</p></div>
             </li>
             <li>
                <div class="img-box"><img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/park01_08.jpg" alt="이미지"></div>
                <div class="txt-box"><p class="p-name">캐릭터 꽃밭</p></div>
             </li>
        </ul>

        <h4 class="park-title">④야외무대 / ⑨영종역사관</h4>
        <ul class="park-list-ul">
            <li>
               <div class="img-box"><img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/park02_01.jpg" alt="이미지"> </div>
               <div class="txt-box"><p class="p-name">영종진 야외무대</p></div>
            </li>
            <li>
                <div class="img-box"><img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/park02_02.jpg" alt="이미지"></div>
                <div class="txt-box"><p class="p-name">영종진 야외무대</p></div>
             </li>
             <li>
                <div class="img-box"><img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/park02_03.jpg" alt="이미지"></div>
                <div class="txt-box"><p class="p-name">영종역사관</p></div>
             </li>
             <li>
                <div class="img-box"><img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/park02_04.jpg" alt="이미지"></div>
                <div class="txt-box"><p class="p-name">영종역사관</p></div>
             </li>
        </ul>

        <h4 class="park-title">⑥중앙광장 / ⑦태평루 / ⑧성벽</h4>
        <!--문구수정-->
        <ul class="park-list-ul">
            <li>
               <div class="img-box"><img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/park03_01.jpg" alt="이미지"> </div>
               <div class="txt-box"><p class="p-name">영령추모비</p></div>
            </li>
            <li>
                <div class="img-box"><img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/park03_02.jpg" alt="이미지"></div>
                <div class="txt-box"><p class="p-name">태평루</p></div>
             </li>
             <li>
                <div class="img-box"><img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/park03_03.jpg" alt="이미지"></div>
                <div class="txt-box"><p class="p-name">태평루 포대</p></div>
             </li>
             <li>
                <div class="img-box"><img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/park03_04.jpg" alt="이미지"></div>
                <div class="txt-box"><p class="p-name">중앙광장 성벽</p></div>
             </li>
        </ul>
         <!--///문구수정-->
        <h4 class="park-title">③영종씨사이드 레일바이크</h4>
        <ul class="park-list-ul">
            <li>
               <div class="img-box"><img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/park04_01.jpg" alt="이미지"> </div>
               <div class="txt-box"><p class="p-name">영종진 영령추모비</p></div>
            </li>
            <li>
                <div class="img-box"><img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/park04_02.jpg" alt="이미지"></div>
                <div class="txt-box"><p class="p-name">레일바이크</p></div>
             </li>
             <li>
                <div class="img-box"><img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/park04_03.jpg" alt="이미지"></div>
                <div class="txt-box"><p class="p-name">경관폭포</p></div>
             </li>
             <li>
                <div class="img-box"><img src="http://img.hotelairsky.co.kr/svc/img/tourist/park/park04_04.jpg" alt="이미지"></div>
                <div class="txt-box"><p class="p-name">레일바이크 스테이션</p></div>
             </li>
        </ul>
    </div>
    
</section>
